build --copt="/utf-8"
build --cxxopt="/std:c++20"

build:dbg --compilation_mode=dbg
build:dbg --strip=never
build:dbg --copt="/Z7"
build:dbg --linkopt="/DEBUG"
build:dbg --copt="/Od"
build:dbg --copt="/DENABLE_ASSERTS=true"

build:rel --compilation_mode=opt
build:rel --copt="/O2"
build:rel --copt="/DNDEBUG"
build:rel --strip=always