build --downloader_config=bazel_downloader.cfg --remote_timeout=30m

build --cxxopt=-std=c++20
# build --linkopt=-lssp
# build --linkopt=-lstdc++exp

build:dbg --compilation_mode=dbg
build:dbg --strip=never
build:dbg --copt="-g"
build:dbg --copt="-O0"
build:dbg --define=ENABLE_ASSERTS=true
#重新映射调试符号
#build:dbg --copt=-fdebug-prefix-map=$(bazel info execution_root)=.
#build:dbg --linkopt=-fdebug-prefix-map=$(bazel info execution_root)=.

build:rel --compilation_mode=opt
build:rel --copt="-O3"
build:rel --copt="-DNDEBUG"
build:rel --strip=always
